# ----------------------- #
#      Main Configs       #
# ----------------------- #

url: http://sasheldon.com
title: sasheldon.com
subtitle:
author: Steven Sheldon
simple_search: http://google.com/search
description:

# RSS / Email (optional) subscription links (change if using something like Feedburner)
subscribe_rss: /blog/atom.xml
subscribe_email:
# RSS feeds can list your email address if you like
email:

# ----------------------- #
#    Jekyll & Plugins     #
# ----------------------- #

permalink: /blog/:year/:month/:day/:title/
markdown: redcarpet
redcarpet:
  extensions:
    - fenced_code_blocks
    - smart
    - tables
    - with_toc_data
highlighter: pygments

paginate: 10          # Posts per page on the blog index
paginate_path: blog/page/:num   # Pagination dir settings
recent_posts: 5       # Posts in the sidebar Recent Posts section
excerpt_separator: '<!-- more -->'
excerpt_link: "Read on &rarr;"  # "Continue reading" link text at the bottom of excerpted articles

defaults:
  -
    scope:
      path: ""
      type: pages
    values:
      meta: false
      footer: false

gems:
  - jekyll-paginate

exclude:
  - Makefile
  - Gemfile
  - Gemfile.lock
  - vendor
  - bin
